<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>BREAKDOWN Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="e2cbe0">  <td>18/04/30 15:28:15</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BreakDownFlow.afterMethod()[pri:0, instance:com.servicemandi.workflow.BreakDownFlow@271053e1]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@540585569</td>   <td></td> </tr>
<tr bgcolor="e2cbe0">  <td>18/04/30 15:28:15</td>   <td>4</td> <td>&nbsp;</td><td title="&lt;&lt;BreakDownFlow.afterTest()[pri:0, instance:com.servicemandi.workflow.BreakDownFlow@271053e1]">&lt;&lt;afterTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@540585569</td>   <td></td> </tr>
<tr bgcolor="e2cbe0">  <td>18/04/30 15:23:31</td>   <td>-284069</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BreakDownFlow.beforeClass()[pri:0, instance:com.servicemandi.workflow.BreakDownFlow@271053e1]">&gt;&gt;beforeClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@540585569</td>   <td></td> </tr>
<tr bgcolor="e2cbe0">  <td>18/04/30 15:23:31</td>   <td>-284058</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="BreakDownFlow.breakDownWithPartsRevisedBill()[pri:0, instance:com.servicemandi.workflow.BreakDownFlow@271053e1]">breakDownWithPartsRevisedBill</td> 
  <td>main@540585569</td>   <td></td> </tr>
<tr bgcolor="e2cbe0">  <td>18/04/30 15:20:55</td>   <td>-439756</td> <td>&nbsp;</td><td title="&gt;&gt;BreakDownFlow.setUpConfiguration()[pri:0, instance:com.servicemandi.workflow.BreakDownFlow@271053e1]">&gt;&gt;setUpConfiguration</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@540585569</td>   <td></td> </tr>
</table>
