<table border='1'>
<tr>
<th>Class name</th>
<th>Method name</th>
<th>Groups</th>
</tr><tr>
<td>com.servicemandi.workflow.ServiceRequestFlow</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>SRFMDeletesAtTrackLocation</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>serviceRequestWithPartsRevisedEstimateWithParts</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>serviceRequestWithPartsRevisedEstimateWithOutParts</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>SRCreateNewRequestFromMyVehicle</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>SRWithPartsWithRetailerRevisedPartsNoRetailer</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>SRMechanicDeletesAtTrackLoc</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>serviceRequestWithoutPartsReviseEstimateWithParts</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>SRDeleteOneJobByMechanic</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>serviceRequestIDontKnowWhatsWrongWithOutParts</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>serviceRequestMechanicRejectsOrder</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>SRFMDeletesAtFindGarage</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>SRFMDeletesAtApproveEstimate</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>SRMultiJobsFMCancelOneJobInApproveEstimate</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>sRWithPartsGiveEstimateCompleteOrder</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>serviceRequestWithPartsWithOutRetailer</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>serviceRequestWithoutParts</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>serviceRequestFMCancelAtConfirmGarage</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>SRWithPartsNoRetailerRevisedEstimateWithPartsNoRetailer</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>sRWithPartsGiveEstimate</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>SRPartsNoRetailerRevisedwithPartsWithRetailer</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>SRWithoutPartsRevisedEstimatePartsRevisedBill</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>SRFMCancelAllJobsInApproveEstimate</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>SRDeleteOneJobAndAddOneNewJobByMechanic</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>SRWithPartsWithOutRetailerCancelOneJob</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>serviceRequestIDontKnowWhatsWrongWithParts</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>serviceRequestWithoutPartsRevisedWithoutParts</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>SRPartsRevisedEstimateWithoutPartsRevisedBill</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>SRWithPartsRevisedEstimateWithPartsRevisedBill</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>serviceRequestWithParts</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>SRFMCancelOneJobInApproveEstimate</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>afterMethod</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
</table>
