<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>SMANDI SERVICE REPAIRS SUITE</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="7c8faf">  <td>18/04/13 18:41:58</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ServiceRequestFlow.afterMethod()[pri:0, instance:com.servicemandi.workflow.ServiceRequestFlow@795cd85e]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@2044903525</td>   <td></td> </tr>
<tr bgcolor="7c8faf">  <td>18/04/13 18:41:58</td>   <td>15</td> <td>&nbsp;</td><td title="&lt;&lt;ServiceRequestFlow.afterTest()[pri:0, instance:com.servicemandi.workflow.ServiceRequestFlow@795cd85e]">&lt;&lt;afterTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2044903525</td>   <td></td> </tr>
<tr bgcolor="7c8faf">  <td>18/04/13 18:41:59</td>   <td>390</td> <td title="&lt;&lt;ServiceRequestFlow.moveFile()[pri:0, instance:com.servicemandi.workflow.ServiceRequestFlow@795cd85e]">&lt;&lt;moveFile</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2044903525</td>   <td></td> </tr>
<tr bgcolor="7c8faf">  <td>18/04/13 18:31:46</td>   <td>-612368</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ServiceRequestFlow.serviceRequestWithPartsRevisedEstimateWithParts()[pri:0, instance:com.servicemandi.workflow.ServiceRequestFlow@795cd85e]">serviceRequestWithPartsRevisedEstimateWithParts</td> 
  <td>main@2044903525</td>   <td></td> </tr>
<tr bgcolor="7c8faf">  <td>18/04/13 18:29:18</td>   <td>-760514</td> <td>&nbsp;</td><td title="&gt;&gt;ServiceRequestFlow.setUpConfiguration()[pri:0, instance:com.servicemandi.workflow.ServiceRequestFlow@795cd85e]">&gt;&gt;setUpConfiguration</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2044903525</td>   <td></td> </tr>
</table>
