<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="ebbee5">  <td>18/11/19 17:10:12</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;LeyKartFlows.setUpConfiguration()[pri:0, instance:com.leykart.workflow.smoke.LeyKartFlows@158d2680]">&gt;&gt;setUpConfiguration</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@60292059</td>   <td></td> </tr>
<tr bgcolor="ebbee5">  <td>18/11/19 17:12:59</td>   <td>166642</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LeyKartFlows.leykartHome()[pri:0, instance:com.leykart.workflow.smoke.LeyKartFlows@158d2680]">leykartHome</td> 
  <td>main@60292059</td>   <td></td> </tr>
<tr bgcolor="ebbee5">  <td>18/11/19 17:12:59</td>   <td>166654</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LeyKartFlows.afterMethod()[pri:0, instance:com.leykart.workflow.smoke.LeyKartFlows@158d2680]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@60292059</td>   <td></td> </tr>
<tr bgcolor="ebbee5">  <td>18/11/19 17:12:59</td>   <td>166658</td> <td>&nbsp;</td><td title="&lt;&lt;LeyKartFlows.afterTest()[pri:0, instance:com.leykart.workflow.smoke.LeyKartFlows@158d2680]">&lt;&lt;afterTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@60292059</td>   <td></td> </tr>
</table>
