<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Service MANDI- DRIVER BD SUITE</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="9a81e8">  <td>18/03/28 10:09:16</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DriverBreakDownFlows.afterMethod()[pri:0, instance:com.servicemandi.workflow.DriverBreakDownFlows@4dfa3a9d]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@1344645519</td>   <td></td> </tr>
<tr bgcolor="9a81e8">  <td>18/03/28 10:09:16</td>   <td>0</td> <td>&nbsp;</td><td title="&lt;&lt;DriverBreakDownFlows.afterTest()[pri:0, instance:com.servicemandi.workflow.DriverBreakDownFlows@4dfa3a9d]">&lt;&lt;afterTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1344645519</td>   <td></td> </tr>
<tr bgcolor="9a81e8">  <td>18/03/28 10:02:55</td>   <td>-380951</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;DriverBreakDownFlows.beforeClass()[pri:0, instance:com.servicemandi.workflow.DriverBreakDownFlows@4dfa3a9d]">&gt;&gt;beforeClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1344645519</td>   <td></td> </tr>
<tr bgcolor="9a81e8">  <td>18/03/28 10:02:55</td>   <td>-380935</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="DriverBreakDownFlows.driverBreakDownWithPartsRevisedEstimateWithOutPartsRevisedBill()[pri:0, instance:com.servicemandi.workflow.DriverBreakDownFlows@4dfa3a9d]">driverBreakDownWithPartsRevisedEstimateWithOutPartsRevisedBill</td> 
  <td>main@1344645519</td>   <td></td> </tr>
<tr bgcolor="9a81e8">  <td>18/03/28 09:59:00</td>   <td>-615318</td> <td>&nbsp;</td><td title="&gt;&gt;DriverBreakDownFlows.setUpConfiguration()[pri:0, instance:com.servicemandi.workflow.DriverBreakDownFlows@4dfa3a9d]">&gt;&gt;setUpConfiguration</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1344645519</td>   <td></td> </tr>
</table>
