<table border='1'>
<tr>
<th>Class name</th>
<th>Method name</th>
<th>Groups</th>
</tr><tr>
<td>com.servicemandi.workflow.DriverServiceRepairsFlows</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>driverSRFMCancelOneJobInApproveEstimate</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>driverSRWithPartsWithOutRetailerCancelOneJob</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>driverSRPartsRevisedEstimateWithoutPartsRevisedBill</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>driverServiceRequestMechanicRejectsOrder</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>driverSRPartsNoRetailerRevisedwithPartsWithRetailer</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>driverServiceRequestIDontKnowWhatsWrongWithParts</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>driverSRWithoutPartsRevisedEstimatePartsRevisedBill</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>driverSRMechanicDeletesAtTrackLoc</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>driverSRFMCancelAllJobsInApproveEstimate</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>driverSRWithParts</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>driverSRWithPartsNoRetailer</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>driverSRFMDeletesAtFindGarage</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>driverSRWithoutParts</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>driverSRWithoutPartsRevisedEstimateWithParts</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>driverSRWithPartsRevisedEstimateWithParts</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>driverSRWithPartsRevisedEstimateWithPartsRevisedBill</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>driverSRWithPartsRevisedEstimateWithOutParts</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>driverSRWithPartsWithRetailerRevisedPartsNoRetailer</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>driverSRFMDeletes</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>driverSRWithPartsNoRetailerRevisedEstimateWithPartsNoRetailer</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>driverSRFMDeletesAtTrackLocation</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>driverSRFMDeletesAtApproveEstimate</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>driverSRWithoutPartsRevisedWithoutParts</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>driverServiceRequestWithoutPartsRevisedWithoutParts</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>driverSRDeleteOneJobAndAddOneNewJobByMechanic</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>beforeClass</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>afterMethod</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
</table>
