<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Service MANDI-DRIVER SR SUITE</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="7c8faf">  <td>18/04/12 18:04:03</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;DriverServiceRepairsFlows.setUpConfiguration()[pri:0, instance:com.servicemandi.workflow.DriverServiceRepairsFlows@795cd85e]">&gt;&gt;setUpConfiguration</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@615438348</td>   <td></td> </tr>
<tr bgcolor="7c8faf">  <td>18/04/12 18:10:27</td>   <td>383555</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;DriverServiceRepairsFlows.beforeClass()[pri:0, instance:com.servicemandi.workflow.DriverServiceRepairsFlows@795cd85e]">&gt;&gt;beforeClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@615438348</td>   <td></td> </tr>
<tr bgcolor="7c8faf">  <td>18/04/12 18:10:27</td>   <td>383577</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="DriverServiceRepairsFlows.driverSRWithParts()[pri:0, instance:com.servicemandi.workflow.DriverServiceRepairsFlows@795cd85e]">driverSRWithParts</td> 
  <td>main@615438348</td>   <td></td> </tr>
<tr bgcolor="7c8faf">  <td>18/04/12 18:19:40</td>   <td>936308</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DriverServiceRepairsFlows.afterMethod()[pri:0, instance:com.servicemandi.workflow.DriverServiceRepairsFlows@795cd85e]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@615438348</td>   <td></td> </tr>
<tr bgcolor="7c8faf">  <td>18/04/12 18:19:40</td>   <td>936311</td> <td>&nbsp;</td><td title="&lt;&lt;DriverServiceRepairsFlows.afterTest()[pri:0, instance:com.servicemandi.workflow.DriverServiceRepairsFlows@795cd85e]">&lt;&lt;afterTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@615438348</td>   <td></td> </tr>
</table>
