<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>DRIVER SUITE</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="9a81e8">  <td>18/03/12 17:37:12</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DriverTestFlow.afterMethod()[pri:0, instance:com.servicemandi.workflow.DriverTestFlow@146ba0ac]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@764577347</td>   <td></td> </tr>
<tr bgcolor="9a81e8">  <td>18/03/12 17:37:12</td>   <td>0</td> <td>&nbsp;</td><td title="&lt;&lt;DriverTestFlow.afterTest()[pri:0, instance:com.servicemandi.workflow.DriverTestFlow@146ba0ac]">&lt;&lt;afterTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@764577347</td>   <td></td> </tr>
<tr bgcolor="9a81e8">  <td>18/03/12 17:34:44</td>   <td>-148435</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;DriverTestFlow.beforeClass()[pri:0, instance:com.servicemandi.workflow.DriverTestFlow@146ba0ac]">&gt;&gt;beforeClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@764577347</td>   <td></td> </tr>
<tr bgcolor="9a81e8">  <td>18/03/12 17:34:44</td>   <td>-148419</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="DriverTestFlow.driverBreakDownPartsRevisedWithPartsRevisedBill()[pri:0, instance:com.servicemandi.workflow.DriverTestFlow@146ba0ac]">driverBreakDownPartsRevisedWithPartsRevisedBill</td> 
  <td>main@764577347</td>   <td></td> </tr>
<tr bgcolor="9a81e8">  <td>18/03/12 17:31:27</td>   <td>-344828</td> <td>&nbsp;</td><td title="&gt;&gt;DriverTestFlow.setUpConfiguration()[pri:0, instance:com.servicemandi.workflow.DriverTestFlow@146ba0ac]">&gt;&gt;setUpConfiguration</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@764577347</td>   <td></td> </tr>
</table>
