<table border='1'>
<tr>
<th>Class name</th>
<th>Method name</th>
<th>Groups</th>
</tr><tr>
<td>com.servicemandi.workflow.BreakDownFlow</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>breakDownMechanicRejectsOrder</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>BDWithPartsNoRetailerRevisedEstimateWithPartsNoRetailer</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>BDWithoutPartsRevisedEstimateWithoutPartsRevisedBill</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>BDFMDeletesAtTrackLoc</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>breakDownWithPartsGiveEstimateCompleteOrder</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>breakDownWithPartsGiveEstimate</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>BDWithoutPartsFMCancelJobInAproveEstimate</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>breakDownWithOutParts</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>BDFMDeletesAtVehicleInGarage</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>breakDownWithoutPartsRevisedEstimateWithParts</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>breakDownFMCancelAtConfirmGarage</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>breakDownWithPartsRevisedEstimateWithParts</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>breakDownWithPartsNoRetailerRevisedEstimateWithoutParts</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>BDMultiJobsWithoutPartsFMCancelOneJobInApproveEstimate</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>breakDownWithPartsRevisedEstimateWithOutPartsRevisedBill</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>BDFMCancelAllJobsInApproveEstimate</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>breakDownWithOutPartsRevisedEstimateWithPartsNoRetailer</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>breakDownWithoutPartsRevisedEstimateWithPartsRevisedbill</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>breakDownPartsRevisedWithPartsRevisedBill</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>breakDownWithPartsWithOutRetailer</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>breakDownWithParts</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>breakDownWithPartsRevisedEstimateWithOutParts</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>breakDownWithPartsRevisedBill</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>BDMechanicDeletesAtTrackLoc</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>BDFMDeletesAtFindGarage</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>breakDownWithoutPartsRevisedBill</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>breakDownWithoutPartsRevisedEstimateWithOutParts</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>beforeClass</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>afterMethod</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
</table>
