<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="9a81e8">  <td>18/03/08 10:44:30</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;BreakDownFlow.setUpConfiguration()[pri:0, instance:com.servicemandi.workflow.BreakDownFlow@4dfa3a9d]">&gt;&gt;setUpConfiguration</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1344645519</td>   <td></td> </tr>
<tr bgcolor="9a81e8">  <td>18/03/08 10:45:17</td>   <td>46144</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BreakDownFlow.beforeClass()[pri:0, instance:com.servicemandi.workflow.BreakDownFlow@4dfa3a9d]">&gt;&gt;beforeClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1344645519</td>   <td></td> </tr>
<tr bgcolor="9a81e8">  <td>18/03/08 10:45:17</td>   <td>46150</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="BreakDownFlow.breakDownWithParts()[pri:0, instance:com.servicemandi.workflow.BreakDownFlow@4dfa3a9d]">breakDownWithParts</td> 
  <td>main@1344645519</td>   <td></td> </tr>
<tr bgcolor="9a81e8">  <td>18/03/08 10:45:25</td>   <td>54165</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BreakDownFlow.afterMethod()[pri:0, instance:com.servicemandi.workflow.BreakDownFlow@4dfa3a9d]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@1344645519</td>   <td></td> </tr>
<tr bgcolor="9a81e8">  <td>18/03/08 10:45:25</td>   <td>54169</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="BreakDownFlow.breakDownWithoutPartsRevisedEstimateWithParts()[pri:0, instance:com.servicemandi.workflow.BreakDownFlow@4dfa3a9d]">breakDownWithoutPartsRevisedEstimateWithParts</td> 
  <td>main@1344645519</td>   <td></td> </tr>
<tr bgcolor="9a81e8">  <td>18/03/08 10:45:33</td>   <td>62173</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BreakDownFlow.afterMethod()[pri:0, instance:com.servicemandi.workflow.BreakDownFlow@4dfa3a9d]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@1344645519</td>   <td></td> </tr>
<tr bgcolor="9a81e8">  <td>18/03/08 10:45:33</td>   <td>62174</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="BreakDownFlow.breakDownPartsRevisedWithPartsRevisedBill()[pri:0, instance:com.servicemandi.workflow.BreakDownFlow@4dfa3a9d]">breakDownPartsRevisedWithPartsRevisedBill</td> 
  <td>main@1344645519</td>   <td></td> </tr>
<tr bgcolor="9a81e8">  <td>18/03/08 10:45:41</td>   <td>70182</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BreakDownFlow.afterMethod()[pri:0, instance:com.servicemandi.workflow.BreakDownFlow@4dfa3a9d]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@1344645519</td>   <td></td> </tr>
<tr bgcolor="9a81e8">  <td>18/03/08 10:45:41</td>   <td>70184</td> <td>&nbsp;</td><td title="&lt;&lt;BreakDownFlow.afterTest()[pri:0, instance:com.servicemandi.workflow.BreakDownFlow@4dfa3a9d]">&lt;&lt;afterTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1344645519</td>   <td></td> </tr>
</table>
